<div class="jumbotron">
  <h1 class="display-3">Node Express Handlebars!</h1>
  <p class="lead">
    In this assignment, you'll create a burger logger with MySQL, Node, Express, Handlebars and a homemade ORM (yum!).
    Be sure to follow the MVC design pattern; use Node and MySQL to query and route data in your app, and Handlebars to
    generate your HTML.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <ul class="list-group list-group-flush">
          {{#each burger_list}}
            {{#unless this.devoured}}
              <li class="list-group-item block">
                {{this.id}}. {{this.burger_name}}
                <form method="POST" action="/burger?_method=PUT" class="float-right">
                  <input type="hidden" type="text" name="burger_id" value={{this.id}}>
                  <button type="submit" class="btn btn-primary btn-sm">Devour it!</button>
                </form>
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <ul class="list-group list-group-flush">
          {{#each burger_list}}
            {{#if this.devoured}}
              <li class="list-group-item block">
                {{this.id}}. {{this.burger_name}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <form action="/burger" method="POST">
    <div class="form-group">
      <label for="new_burger">Add new Burger:</label>
      <input type="text" class="form-control" name="burger_name" id="new_burger" placeholder="Burger name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
